.bloque-texto-b i:last-of-type
  vertical-align: top

.cajon.color-acento-contenido
  background-color: #efe7ff

.bloque-texto-a.color-secundario
  background-color: #e8e8e8

/*.bloque-texto-a__texto::after probando opacidad
  opacity: 90%*/

.bloque-texto-a.color-secundario:before
  background-color:#02cddb

.tarjeta--boton
  border-radius: 0px !important

/*ESTA PENDIENTE EL HOVER DE LA IMG TARJETAS*/
.text-white--hover svg
  margin-top: 15px
  fill:#12263f
  width: 45px
.text-white--hover:hover svg
  fill: #ffffff

  
  

.acordion__titulo
  margin-left: 42px 
.tarjeta--azul
  background-color: #f6f6f6 !important

.fa-check-circle
  color: $color-acento-contenido
.fa-atom
  color: $color-acento-contenido


.tarjeta--tabla
  background-color: #e2d3ff

.entre-espacio
  justify-content: space-around !important

.tabs-a__tab:hover
  color: #ffff !important
  font-weight: 700

.tabs-a.color-acento-contenido .tabs-a__tab__selected
  color: #ffff !important

.tabs-a__tab
  background-color: #e8e8e8 

.tarjeta.color-secundario
  border-radius: 0
  background-color: #ccf9fd
